<h1><%= @event.name %></h1>

<p><strong><%= @event.days_since %></strong> days since <%= @event.occurred_on.strftime("%B %-d, %Y") %></p>
<p><%= @event.description %></p>

<%= link_to "Edit", edit_event_path(@event) %>
<%= button_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
<%= link_to "Back", events_path %>
